.share {
}
    .share table {
        position: absolute;
        margin-top: -160px;
        z-index: 999;
        display: none;
        border: 1px solid #DDD;
        background: white;
        padding: 5px 10px;
    }
        .share table td {
            padding: 5px;
            text-align: center;
        }
    .share .fb_share_button {
        background: #5F78AB url(http://static.ak.fbcdn.net/images/connect_sprite.png) left -232px no-repeat;
        border-top: solid 1px #879AC0;
        border-bottom: solid 1px #1A356E;
        color: white;
        display: block;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
        padding: 2px 24px 3px;
        margin: 1px 1px 0 0;
        text-shadow: none;
    }
        .share .fb_share_button:hover,
        .share .fb_share_button:active {
            text-decoration: none;
        }
    .share iframe {
        border: none;
    }
    .share .mail-form {
        background-color: white;
        border: 1px solid #EEE;
        padding: 10px;
        display: none;
    }